/* Font Declarations */
@font-face {
  font-family: 'Bulo Medium';
  src: url('/fonts/Bulo Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bulo Extra Black Italic";
  src: url("/fonts/bulo-extrablackitalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

/* Dark Mode Styles */
body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Bulo Medium', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Bulo Extra Black Italic", 'Bulo Medium', sans-serif;
}

p, ul, ol, li, a, span {
  font-family: 'Bulo Medium', sans-serif;
  font-size: 1.35rem;
}

/* Desktop Font Size */
h1{
  font-size: 5rem;
}

h2{
  font-size: 3.25rem;
}

h3{
  font-size: 2.5rem;
}

.nav-link {
  font-size: 1.25rem;
}

.navbar .container {
  justify-content: space-between;
}

.navbar-brand {
  width: 33%;
  text-align: center;
  margin: 0;
}

.navbar-nav {
  margin-left: auto;
}

/* Mobile Settings */
@media (max-width: 768px) {
  p, ul, ol, li, a, span {
    font-size: 1.1rem;
  }

  h1{
    font-size: 3rem;
  }
  
  h2{
    font-size: 2.25rem;
  }
  
  h3{
    font-size: 1.75rem;
  }
}
 



.navbar {
  background-color: #1e1e1e !important;
}

.hero {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
  /* apply a black tint to the video */
  background-color: rgba(0, 0, 0, 1);
  background-blend-mode: multiply;
  
}

.hero-content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.text-dynamic {
  font-weight: bold;
  color: var(--team-color-lighter);
  transition: 0.5s;
  margin-left: 0.5rem;
}

.text-dynamic::after {
  content: ".";
  vertical-align: middle;
  transition: 0.5s;
}

.btn-primary {
  background-color: #6e0000;
  border-color: #6e0000;
  border: 1px solid #ffffff;
  border-radius: .7rem;
  color: #fff;
  transition: 1s;
}

.btn-primary:hover {
  background-color: #5a0000;
  border-color: #5a0000;
  border: 1px solid #ffffff;
  border-radius: .78rem;
  color: #fff;
  transition: 0.25s;
  cursor: url("/public/cursor.svg"), auto;
}

.btn-outline {
  color: #fff;
  border-color: #fff;
  border-radius: .78rem
}

.btn-outline:hover {
  background-color: #fff;
  color: #6e0000;
  cursor: url("/public/cursor_red.svg"), auto;
}

#about{
  background-color:  #1e1e1e;
}

#contact {
  background-color: #1e1e1e;;
}


footer {
  background-color: #242424 !important;
}

.display-1 {
  margin-bottom: 0;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.65);
}

.display-4 {
  margin-bottom: 1rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.65);
}

.display-lead {
  font-size: 1.25rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.65);
}

.img-fluid {
  position: relative;
  border-radius: 15px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.8);
  transition: transform 0.6s, box-shadow 0.6s;
  transform: perspective(1000px);
}

.img-fluid:hover {
  transform: perspective(1000px) rotateY(var(--rotateY)) rotateX(var(--rotateX));
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}

a {
  color: #6e0000;
}

a:hover {
  color: #5a0000;
}

#robots {
  background-color: #242424 !important;
}

.robot-card {
  background-color: #2a2a2a;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.8);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
}
.robot-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}
.robot-card .card-img-top {
  height: 200px;
  object-fit: cover;
}
.robot-card .card-body {
  padding: 1.5rem;
}


.robot-card .card-text {
  color: #e0e0e0;
}

#gallery{
  position: relative;
  background-color: #242424 !important;
  overflow: hidden;
}

#galleryCarousel {
  height: 40vh;
  transition: 0.35s;
}

#galleryCarousel:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  transition: 0.5s;
}

#galleryCarousel .carousel-inner,
#galleryCarousel .carousel-item {
  height: 100%; 
  border-radius: 15px;

}

#galleryCarousel .carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.custom-arrow {
  background-color: rgba(110, 0, 0, 0.7);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  padding: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 50% 50%;
}

#sponsors {
  background-color: #1e1e1e;
}

.sponsor-card {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.sponsor-card img {
  max-height: 15vh;
  object-fit: contain;
  padding: 0px;
  transition: 0.5s;
}

.sponsor-card img:hover {
  transform: scale(1.5);
  transition: 0.65s;
}

