/* Font Declarations */
@font-face {
  font-family: 'Bulo Medium';
  src: url('Bulo Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bulo Extra Black Italic";
  src: url("bulo-extrablackitalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
  /* Fallback font */
  font-family: 'Bulo Medium', sans-serif;
}

@font-face {
  font-family: 'PaybAck';
  src: url('PaybAck.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Root Variables */
:root {
  /* Colors */
  --team-color: #6e0000;
  --team-color-lighter: #830000;
  --team-color-even-lighter: #940000;
  --team-color-darker: #5f0000f1;
  --team-color-gray: #1b1b1b;
  --team-color-secondary: #1b1b1b;
  --font-color: rgb(255, 255, 255);
  --font-color-secondary: #830000;

  /* Fonts */
  --team-font: 'Bulo Medium', sans-serif;
  --team-logo-font: "Bulo Extra Black Italic";

  /* Sizes */
  --button-shadow-size: 25px;
  --button-border-size: 5px;
  --nav-link-border-size: 5px;
}

/* Global Styles */
body {
  background-color: var(--team-color-gray);
  padding-top: 0px;
}

/* Typography */
.force-font {
  font-family: var(--team-font);
}

p {
  font-size: 1.5rem;
  font-family: var(--team-font);
  color: var(--font-color);
}

h1, h1z {
  font-size: 3vw;
  color: var(--font-color);
  font-family: var(--team-font);
}

h1z {
  font-size: 2.5vw;
  font-weight: bold;
}

h2 {
  font-size: 3vw;
  color: var(--font-color);
  font-family: var(--team-font);
  font-weight: bold;
}

h3 {
  font-size: 5vw;
  color: var(--team-color-even-lighter);
  font-family: var(--team-font);
  font-weight: bold;
  transition: 0.5s;
}

h3:hover {
  opacity: 0.4;
}

a {
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.25s;
  border-radius: 5px;
  font-family: var(--team-logo-font);
  color: var(--font-color);
}

/* Text Styles */
.stroke {
  font-weight: bold;
  -webkit-text-stroke: 4px var(--team-color-darker);
}

.text-left {
  text-align: left;
}

.text-dynamic {
  font-weight: bold;
  color: var(--team-color-lighter);
  transition: 0.5s;
  margin-left: 0.5rem;
}

.text-dynamic:hover {
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  border-radius: 0.5rem;
  transition: 1s;
}

.text-dynamic::after {
  content: ".";
  vertical-align: middle;
  transition: 0.5s;
}

/* Navigation Styles */
.navbar {
  z-index: 1001;
  background-color: transparent !important;
  transition: 2s;
  font-family: var(--team-font);
  color: var(--font-color);
}

.hero-section .navbar {
  margin-top: -10vh;
  margin-bottom: 10vh;
}

.navbar-toggler-icon {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("/public/navmenuicon.png");
}

.navbar-brand, .nav-link {
  font-family: var(--team-font);
  color: var(--font-color);
  border-radius: 15px;
}

.navbar-brand:hover, .nav-link:hover {
  color: var(--font-color);
  animation: nav_link 5s linear infinite;
  transition: 0.2s;
}

.nav-link:hover {
  text-decoration: underline;
  background-color: var(--team-color-darker);
}

/* Sticky Navbar */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: 2s;
}

.sticky.navbar {
  background-color: #6e0000de !important;
}

/* Section Styles */
#about {
  background-color: var(--team-color-gray);
}

#sponsors {
  background: linear-gradient(transparent, var(--team-color) 50%) no-repeat bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#contact {
  background-blend-mode: multiply;
  background-color: transparent;
  background-image: url(textures/AngledStripes.png);
  background-size: 100rem;
  background-repeat: repeat;
  background-position: center;
  position: relative;
  animation: scrollBackground 30s linear infinite;
}

#footer {
  background: linear-gradient(var(--team-color), transparent 150%) no-repeat bottom center;
}

/* Hero Section */
.hero-section {
  position: relative;
  text-align: center;
  color: var(--font-color);
  overflow: hidden;
  min-height: 75vh;
  background: linear-gradient(var(--team-color), transparent 0%) no-repeat top center, 
              linear-gradient(transparent, var(--team-color-gray)) no-repeat bottom center;
  padding-top: 15vh;
}

/* Video Styles */
.video-container {
  z-index: 1000;
  margin-top: -50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.video-fluid {
  max-width: 85vw;
  height: 35vh;
  border: 5px solid var(--team-color-darker);
  border-radius: 50px;
  margin: auto;
}

.col-12 .video-fluid {
  display: block;
  margin: auto;
}

/* Button Styles */
.btn-danger {
  font-weight: bold;
  background-color: var(--team-color);
  border-color: var(--team-color);
  border-radius: 15px;
  border: var(--button-border-size) solid var(--team-color-lighter);
  transition: 0.6s;
  animation: nav_link 5s linear infinite;
}

.btn-danger:hover {
  animation: btn_danger 5s linear infinite;
  background-color: var(--team-color);
  border-radius: 18px;
  transform: rotate(-2deg) scale(1.1);
  box-shadow: 0 0 var(--button-shadow-size) var(--team-color-darker);
  transition: 0.3s;
}

.btn-danger:active {
  background-color: var(--team-color-darker) !important;
  border: var(--button-border-size) solid var(--team-color-lighter) !important;
  transition: 0.3s;
}

/* Sponsor Image */
.sponsor-img {
  max-width: 80%;
  height: auto;
}

/* Fade-in Animation */
.fade-in-section {
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

.fade-in-section.fade-in {
  opacity: 1;
}

/* Carousel Styles */
.custom-carousel {
  margin: 3px;
  background-color: var(--team-color);
  border: 5px solid var(--team-color);
  overflow: hidden;
  border-radius: 50px;
}

.custom-carousel .img-fluid,
.custom-carousel .carousel-inner .carousel-item img {
  border-radius: 50px;
}

/* Background Styles */
.maestro-background {
  background-image: url('/public/maestroBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: ken-burns 15s infinite;
}

/* Popup Styles */
.popup {
  background-color: var(--team-color-darker);
  border-radius: 15px;
}

/* Custom List Item */
.custom-li {
  font-size: 1.3vw;
  color: var(--font-color);
  font-family: var(--team-font);
}

/* Robot Grid Styles */
.robot-image-container {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
}

.robot-image {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
}

.robot-popup {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(24, 24, 24, 0.9);
  color: #fff;
  padding: 20px;
  border-radius: 25px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  max-width: 45vw;
  width: 80vw;
  white-space: normal;
}

.robot-popup img.robot-detail-image {
  max-height: 30vh;
  width: auto;
  margin-top: 10px;
  border-radius: 30px;
}

.robot-image-container:hover .robot-popup {
  opacity: 1;
}

.robot-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

#robots {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0.65) 100%),
    url(textures/AngledStripes.png);
  background-blend-mode: multiply;
  background-color: transparent;
  background-size: 100rem;
  background-repeat: repeat;
  background-position: center;
  position: relative;
  animation: scrollBackground 30s linear infinite;
}

/* Animations */
@keyframes ken-burns {
  0%, 100% { background-position: center center; }
  50% { background-position: center 20%; }
}

@keyframes btn_danger {
  0%, 100% {
    box-shadow: 0 0 var(--button-shadow-size) var(--team-color-lighter);
    border: var(--button-border-size) solid var(--team-color-lighter);
  }
  25%, 75% {
    box-shadow: 0 0 var(--button-shadow-size) var(--team-color-darker);
    border: var(--button-border-size) solid var(--team-color-darker);
  }
}

@keyframes btn_danger_click {
  0%, 100% { transform: rotate(-2deg) scale(1.1); }
  25%, 75% { transform: rotate(-5deg) scale(1); }
  50% { transform: rotate(-10deg) scale(1.1); }
}

@keyframes nav_link {
  0%, 50%, 100% { background-color: var(--team-color-darker); }
  25%, 75% { background-color: var(--team-color); }
}

@keyframes scrollBackground {
  from { background-position: -50% 0; }
  to { background-position: 0 100%; }
}

/* Media Queries */
/* Tablet */
@media (max-width: 1024px) {
  p { font-size: 2.125vw; }
  h1, h1z { font-size: 4.5vw; }
  h2 { font-size: 6.5vw; }
  h3 { font-size: 8vw; }
  .hero-section { min-height: 55vw; }
}

/* Phone */
@media (max-width: 480px) {
  p { font-size: 5vw; }
  h1, h1z { font-size: 9vw; }
  h2 { font-size: 12vw; }
  h3 { font-size: 15vw; }
  .hero-section { min-height: 160vw; }
  .custom-li { font-size: 6vw; }

  .robot-image-container {
    width: 30vw;
    height: 30vw;
  }

  .robot-image {
    max-width: 80%;
    max-height: 80%;
  }

  .robot-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .robot-popup {
    max-width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .robot-popup img.robot-detail-image {
    max-height: 20vh;
    margin-top: 5px;
  }
}