
  body {
    background-color: rgba(39,40,34,255);
    /*
    background-color: rgba(239,238,238,255);
    background-image:  linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url("/images/robots.png");
    background-size: 300px;
*/
  }

  /* Custom styles for the sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    z-index: 9999;
    background-color: #35352e;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    transition: 0.3s;
    padding-top: 60px;
    color: #000;
    box-shadow: 0 0 50px #1e1e1d inset;
    box-shadow: 0 0 25px #1e1e1d;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

  }


  /* Sidebar content */
  .sidebar-content {
    padding: 2px;
    padding-top: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
  }

  .sidebar-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
  
  .sidebar-content .subsection {
    display: none;
  }
  
  .sidebar-content .expanded {
    display: block;
  }
  
#sidebar-content-container {
  font-family: 'Ubuntu', sans-serif;
  transition: margin-left 0.3s ease;
  margin-left: 100px;
}

#sidebar-content-container.shifted {
  margin-left: 280px;
}

/* Push the page content when sidebar is open */
#content {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 100px;
  transition: margin-left 0.3s;
  padding: 16px;
  margin-left: 50px;
}

/* Adjustments when sidebar is open */
#content.open {
  margin-left: 250px;
}

  p {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
  }

  p.indent{
    text-indent: 30px;
  }

  h1{
    color: white;
    font-size: calc(1.375rem + 1.5vw);
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 25px;
  }

  h3{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 15px;
  }

  h3.indent{
    text-indent: 30px;
  }


  a{
    font-family: 'Ubuntu', sans-serif;
    color: #a18c6b;
    text-decoration: none;
    font-size: 110%;
    display: flex;
    transition: 0.1s;
  }

  .a-sidebar{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 110%;
    margin-top: 0.5rem;
  }

  .a-sidebar:hover{
    font-size: 110%;
  }

  a:hover{
    color: #7f7f6e;
    font-size: 115%;
    transition: 0.15s;
  }


  b{
    margin-top: 8px;
  }


  .code-snippet {
    height: fit-content;
    width: fit-content;
    background-color: #f5f5f5;
    font-family: 'Courier New', Courier, monospace;
    border: 4px solid #555549;
    border-radius: 3vw;
    box-sizing: border-box;
    overflow: auto;
    font-size: 15px;
    transition: 0.3s;
  }

  .code-snippet:hover{
    border-color: #7f7f6e;
    transition: 0.3s;
  }
  
  .btn{
    background-color: #35352e;
    border-color: #7f7f6e;
    border-radius: 12px;
    border-width: 2px;
  }

  .btn:hover{
    background-color: #35352e;
    border-color: #555549;
    border-radius: 12px;
    border-width: 2px;
  }

  .closebtn{
    color: #ffffff;
    transition: 0.1s;
    font-size: 100%}

  .closebtn:hover{
    color: #7f7f6e;
    font-size: 95%;
    transition: 0.1s;
  }


  .code-pre{
    height: fit-content;
    width: fit-content;
    border-radius: 3vw;
  }

  .code-pre:hover{
    box-shadow: 0 0 10px #555549;
  }

  /* Main header styles */
  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #1e1e1d;
    z-index: 9998;
    transition: margin-left 0.3s;
    height: fit-content;
    padding: 0;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img { transition: 0.45s;}

  .logo img:hover {
    filter: brightness(500%);
    transition: 0.65s;
  }

  .header-buttons {
    display: flex;
    gap: 12px;
    margin-right: 50px;
  }

  .p-spacer-md{
    display: block;
    margin-top: 70px;
    margin-bottom: 20px;
    height: 2px;
    background-color: #35352e;
    width: 100vh;
  }

  .p-spacer-s{
    display: block;
    height: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #35352e;
    width: 45vh;
  }

  .p-spacer-xs{
    display: block;
    height: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    width: 45vh;
  }

  .copy-feedback {
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}

.copy-feedback.show {
    bottom: 20px;
    opacity: 1;
}

.copy-feedback.hide {
    opacity: 0;
}

@keyframes shake {
  0% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
  20%, 40%, 60%, 80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s;
}

.table-div{
  background-color:#35352e;
  height: fit-content;
  width: fit-content;
  padding: 1.5%;
  border-radius: 25px;
  transition: 0.25s;
}

.table-div:hover{
  box-shadow: 0 0 5px #55554985;
  transition: 0.25s;
}

table{
  font-family: 'Ubuntu', sans-serif;
  background-color:#35352e;
  color: white;
  height: fit-content;
  width: fit-content;
}

th, td {
  border: 1px solid;
  border-color:#55554935;
}

.p-table{
  padding-left: 3px;
  padding-right: 0.85rem;
}
