
/* Reset default styles for body and HTML */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}



/* Style the video container */
#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the video container behind the content */
}

/* Style the video element */
video#video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container while maintaining aspect ratio */
}

/* Add a semi-transparent overlay to dim the video */
#video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the color and opacity here */
    z-index: 0; /* Place the overlay behind the content */
}




@font-face {
    font-family: 'Bulo Medium';
    src: url('Bulo Medium.otf') format('opentype'); /* Adjust the path and format */
    font-weight: normal;
    font-style: normal;
  }

.heading{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.feature-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.feature-description {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.container-cust {
    background-color: #6e0000f1;
    border-radius: 35px;
    padding: 20px;
    margin-top: 30px;
}

.image-gallery img {
    border-radius: 20px;
    margin-bottom: 20px;
}

.video-description {
    font-size: 16px;
    margin-top: 10px;
}

model-viewer {
width: 60%; /* Take up all available horizontal space */
height: 60vh; /* Take up all available vertical space */
margin: auto; /* Center the element horizontally and vertically */
display: block; /* Ensure it's a block-level element */
}


.button-glass {
    display: inline-block; /* Change to inline-block to allow scaling */
    padding: 10px 20px; /* Add padding for better scaling */
    margin: 0 auto;
    transition: 0.25s;
  
    background-color: #550000;
    border: 2px solid rgba(255, 255, 255, 1); /* Adjust border thickness */
    border-radius: 16px;
  
    font-family: 'Bulo Medium', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.6rem; /* Adjust font size */
    font-weight: bold;
  
    max-width: 15rem;
    min-width: 10rem;
    
    /* Use flex for better centering */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.button-glass:hover {
    background-color: rgba(95, 3, 3, 0.685);
    border-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    color: white;
    transform: scale(1.1); /* Add a slight scale effect on hover */
    transition: 0.5s;
}

/* Default styles for h2 */
h2.text-center.stroked-text {
    font-weight: bolder;
    color: white;
}

/* Media query for desktop devices with a minimum width of 768px */
@media (min-width: 768px) {
    h2.text-center.stroked-text {
        font-size: 4rem; /* Adjust the desired font size for desktop */
    }
}


/* Default font size for p elements */
p {
    font-size: 1.3rem;
}

/* Media query for adjusting font size on smaller screens */
@media (max-width: 768px) {
    p {
        font-size: 1.15rem; /* Adjust the desired font size for smaller screens */
    }
}


.image-glass{
    max-width: 100%;
     max-height: 100vh;
      margin: auto;
       display: block;
        border: 5px solid #ffffff1a;
         border-radius: 20px;
}

.image-center-glass {
    width: 20rem; /* Set your desired fixed width here */
    height: 14rem; /* Set your desired fixed height here */
    max-width: 100vw;
    margin: auto;
    display: block;
    border: 5px solid #ffffff1a;
    border-radius: 20px;
    object-fit: cover;
}

.header-glass {
    z-index: 100;
    background-color: rgba(110, 0, 0, 0.9); /* Semi-transparent background color */
    background-size: 150rem;
    background-position: center -100rem;
    background-blend-mode: multiply;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px; /* Rounded border */
    margin-top: 3vh; /* Add margin to the top */
    margin-left: 5vw; /* Add margin to the left */
    margin-right: 5vw; /* Add margin to the right */
    border: 4px solid #5f0000d0; /* Small dark red border */
    box-shadow: 0px 0px 15px rgba(110, 0, 0, 0.9);/* Shadow */
}
zzz


  

.image-glass-sponsor{
    width: 10rem; /* Set your desired fixed width here */
    height: 10rem; /* Set your desired fixed height here */
    margin: auto;
    display: block;
    border-radius: 20px;
    object-fit:contain;
}


/* Media query for adjusting font size on smaller screens */
@media (max-width: 768px) {
    .image-glass-sponsor{
        width: 5rem; /* Set your desired fixed width here */
        height: 5rem; /* Set your desired fixed height here */
    }
}

