@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: 'Bulo Medium';
  src: url('Bulo Medium.otf') format('opentype'); /* Adjust the path and format */
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #1e1e1e;
}

p{
  font-size: 2rem;
  font-family: 'Bulo Medium', sans-serif;
  color: white;
}

h1{
  font-size: 3rem;
  font-family: 'Bulo Medium', sans-serif;
  color: white;
}

h2{
  font-size: 5vw;
  font-family: 'Bulo Medium', sans-serif;
  color: white;
  text-decoration:underline #6e0000;
  transition: 2s;
}

h2::before{
  font-size: 1vw;
}

a{
  padding: 5px;
  font-family: 'Bulo Medium', sans-serif;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.25s;
  border-radius: 5px;
}

a:hover{
  padding: 6px;
  background-color: #5f0000;
  transition: 0.35s;
}

.bold{
  font-weight: bold;
}

.scrolling{
  display: inline-block;
  height: fit-content; 
  width: 20rem;
  overflow: hidden; 
}

.text-scroll{
  animation: marquee 8s linear infinite;
  white-space: nowrap;
  font-size: 1rem;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.container-fluid{
  padding: 0px;
}

.full-width-container {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.container-inner{
  margin: 15px;
  background-color: #6e0000;
  height: fit-content;
  width: fit-content;
  padding: 15px;
  border-radius: 80px;
  max-width: 100%;
  transition: 1s;
}

[class*="container-inner"] {
  background-clip: padding-box;
  border: 30px solid transparent;
}

.col-effect{
  border-radius: 80px;
  transition: 0.75s;
  background-image: none;
  background-color: #6e0000;
}

.col-effect:hover{
  border-radius: 90px;
  transition: 1s;
  background-color: #5f0000;
}

.image-container{
  background-size: cover;
  background-position: center;
  height: 35rem;
  width: auto;
  border-radius: 25px;
}

.main-image{
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-position: center 38%;

}

.secondary-image{
  height: 25rem;
  margin-top: 15px;
}

.background-tint{
  background-color: rgb(77, 77, 77);
  background-blend-mode: multiply;
  
}

.text-center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  z-index: 100;
  background-color: #6e0000;  /* #252526; */
  background-image: url(/textures/AngledStripes.png); 
  background-size: 150rem; background-position: center -100rem;  background-blend-mode: multiply; background-color: rgba(0, 0, 0,0.1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
}

.nav-links a {
  margin: 0 10px;
}

.poster{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.button{
  display: block;
  overflow: hidden;
  transform: translateZ(0px);
  margin: 0 auto;
  transition: 0.25s;

  background-color: #5f0000;
  border-color: rgba(255, 255, 255, 1);
  border: 5px solid;
  border-radius: 16px;

  font-family: 'Bulo Medium', sans-serif;
  text-decoration: none;
  color: white;
  font-size:2.1rem;
  font-weight: bold;

  max-width: 15rem;
  max-height: 6rem;
  min-width: 10rem;
  min-height: 3rem;
  
}

.button:hover{
  background-color: #5f0000;
  border-color: rgba(255, 255, 255, 1);
  border: 5px solid;
  border-radius: 15px;
  color: white;
  border-radius: 22px;
  transition: 0.5s;
}

.button-spacer{
  height: 8px;
  width: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #ffffff;
  border-radius: 4px;
  transition: 0.5s;
}

.col-effect:hover .button-spacer {
  background-color: rgba(255, 255, 255, 0.25);
  transition: 0.5s;
  
}

/* Change column margin */
[class*="col-"] {
  background-clip: padding-box;
  border: 25px solid transparent;
}

@media (max-width: 767px){

  /* Change column margin */
  [class*="col-"] {
    background-clip: padding-box;
    border: 10px solid transparent;
  }

  .col-effect{
    border-radius: 35px;
  }
  
  .col-effect:hover{
    border-radius: 45px;
  }
  
  .container-inner{
    border-radius: 35px;
  }

  [class*="container-inner"] {
    background-clip: padding-box;
    border: 8px solid transparent;
  }


  p{
    font-size: 5vw;
  }

  h2{
    font-size: 10vw;
  }

  .main-image{
    min-height: 25rem;
    background-color: rgba(110, 1, 1, 0.92);
    background-blend-mode: multiply;
    background-size: 50rem;
  }

  .image-container{
    height: 18rem;
    margin: 0px;
    padding: 0px;
  }

  .secondary-image{
    height: 18rem;
    margin-top: 10px;
    background-size: 1rem;
    
  }

  .button{
    font-size: 1.8rem;
    max-width: 17rem;
    max-height: 5.5rem;
  }

  .button-spacer{
    height: 4px;
    margin-top: 30px;
    margin-bottom: 60px;
    border-radius: 2px;
  }

}
#header {
  transition: top 0.3s ease-in-out;
}

@keyframes scrollRight {
  from {
    background-position: 100% 0; /* Starting position */
  }
  to {
    background-position: 0 0; /* Ending position */
  }
}

@keyframes scrollUp {
  from {
    background-position: 0 100%; /* Starting position */
  }
  to {
    background-position: 0 0; /* Ending position */
  }
}

.scroll-right{
  animation: scrollRight 200s linear infinite; /* Adjust duration as needed */
}

.scroll-up{
  animation: scrollUp 120s linear infinite; /* Adjust duration as needed */
}
