

 @font-face {
    font-family: 'Bulo Medium';
    src: url('Bulo Medium.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Bulo Extra Black Italic";
    src: url("bulo-extrablackitalic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
    /* Fallback font */
    font-family: 'Bulo Medium', sans-serif;
  }

  @font-face {
    font-family: 'PaybAck';
    src: url('PaybAck.ttf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
  }



  
 /* Define the team color and font */
 :root {
    --team-color: #6e0000;
    --team-color-lighter: #830000;
    --team-color-even-lighter: #940000;
    --team-color-darker: #5f0000f1;
    --team-color-gray: #1b1b1b;
    --team-color-secondary: #1b1b1b;
    --team-font: 'Bulo Medium', sans-serif;
    --team-logo-font: "Bulo Extra Black Italic";
    --font-color: rgb(255, 255, 255);
    --font-color-secondary:   #830000;
    --button-shadow-size: 25px;
    --button-border-size: 5px;
    --nav-link-border-size: 5px;
  }
  

  body {
    background-color:var(--team-color-gray);
  }

  .force-font{
    font-family: 'Bulo Medium', sans-serif;
  }
  
  p{
    font-size: 1.5rem;
    font-family: var(--team-font);
    color: var(--font-color);
  }
  
  
  h1z{
    font-size: 2.5vw;
    color: var(--font-color);
    font-family: var(--team-font);
    font-weight: bold;
  }

  h1{
    font-size: 3vw;
    color: var(--font-color);
    font-family: var(--team-font);
  }
  
  h2{
    font-size: 3vw;
    color: var(--font-color);
    font-family: var(--team-font);
    font-weight: bold;
  }
  
  h3{
    font-size: 5vw;
    color: var(--team-color-even-lighter);
    font-family: var(--team-font);
    font-weight: bold;
    transition: 0.5s;
  }
  
  h3:hover{
    font-family: var(--team-font);
    opacity: 0.4;
    transition: 0.5s;
  }

  a{
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.25s;
    border-radius: 5px;
    font-family: var(--team-logo-font); 
    color: var(--font-color);
  }
  
  .stroke{
    font-weight: bold;
    -webkit-text-stroke: 4px var(--team-color-darker); /* Border color and width for Safari */
  }

 .text-left{
    text-align: left;
  }

  .text-dynamic{
    font-weight: bold;
    color: var(--team-color-lighter);
    transition: 0.5s;
    margin-left: 0.5rem;

  }

  #dynamicText {
    transition: opacity 0.5s ease-in-out;
  }
  
  .text-dynamic:hover{
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    border-radius: 0.5rem;
    transition: 1s;
  }

  .text-dynamic::after {
    content: "."; /* Add a period after the text */
    vertical-align: middle; /* Align it vertically with the text */
    transition: 0.5s;
  }

  /* Update the navigation bar style */
  .navbar {
    z-index: 1001;
    background-color: transparent !important;
    transition: 2s;
    font-family: var(--team-font);
    color: var(--font-color);
  }

  /* Update the navigation bar style */
  .hero-section .navbar {
    z-index: 1001;
    background-color: transparent !important;
    transition: 2s;
    font-family: var(--team-font);
    color: var(--font-color);
    margin-top: -10vh;
    margin-bottom: 10vh;
  }


  .navbar-toggler-icon {
    content: ""; /* Remove the default icon */
    width: 1.5rem; /* Set the width of your custom icon */
    height: 1.5rem; /* Set the height of your custom icon */
    background-image: url("/public/navmenuicon.png");
}

  .navbar-brand {
    font-family: var(--team-font);
    color: var(--font-color);
    border-radius: 15px;
  }
  
  .navbar-brand:hover{
    font-family: var(--team-font);
    color: var(--font-color);
    border-radius: 15px;
    animation: nav_link 5s linear infinite; 
    transition: 0.2s;
  }

  .nav-link{
    font-family: var(--team-font);
    color: var(--font-color);
    transition: 0.2s;
    border-radius: 15px;

  }

  .nav-link:hover{
    font-family: var(--team-font);
    color: var(--font-color);
    text-decoration:underline;
    background-color: var(--team-color-darker);
    border-radius: 15px;
    animation: nav_link 5s linear infinite;
    transition: 0.2s;
    
  }
  
  body{
    padding-top: 0px;
  }
  /* Add a class to make the navbar sticky */
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: 2s;
  }

  /* Add a background color to the sticky navbar */
  .sticky.navbar {
    background-color: #6e0000de !important;
    transition: 2s;
  }


  #about{
    background-color: var(--team-color-gray);
  }
  
  #sponsors {
    background: linear-gradient(transparent, var(--team-color) 50%) no-repeat bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; /* Make sure the section is a positioned container */

  }
  


  #contact {
    background-blend-mode: multiply;
    background-color: transparent;
    background-image: url(textures/AngledStripes.png);
    /*background- image: linear-gradient(to bottom, var(--team-color), rgba(255, 255, 255, 0)), url(textures/Triad.png), linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)); */
    background-size:contain;
    background-size: 100rem;
    background-repeat:repeat;
    background-position: center;
    position: relative; /* Make sure the section is a positioned container */
    animation: scrollBackground 30s linear infinite;
  }
  
  #footer{
    background: linear-gradient(var(--team-color), transparent 150%) no-repeat bottom center;
  }
  

 /* Update the hero section styles for video */
.hero-section {
    position: relative;
    text-align: center;
    color: var(--font-color);
    overflow: hidden;
    min-height: 75vh; /* Adjust the minimum height as needed */
    background: linear-gradient(var(--team-color), transparent 0%) no-repeat top center, linear-gradient(transparent, var(--team-color-gray)) no-repeat bottom center;
    padding-top: 15vh; /* padding at the top and bottom */
}


  /* Style the video container */
  .video-container {
    z-index: 1000;
    margin-top: -50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  
  /* Style the video element */
 .video-container video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

 .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the color and opacity here */
    z-index: 0; /* Place the overlay behind the content */
  }

  
  /* Add this to your new.css file */
  .video-fluid {
    max-width:  85vw;
    height:  35vh;
    border:  5px solid var(--team-color-darker);
    border-radius:  50px;
    margin: auto; /* Add this line to center the video */
  }

  .col-12 .video-fluid {
    display: block;
    margin: auto;
  }


  .container {
    position: relative;
    z-index: 1;
  }
  
  .btn-danger {
    font-weight: bold;
    background-color: var(--team-color);
    border-color: var(--team-color);
    border-radius: 15px;
    border: var(--button-border-size) solid var(--team-color-lighter);
    transition: 0.6s;
    animation: nav_link 5s linear infinite;
  }

  .btn-danger:hover{
    animation: btn_danger 5s linear infinite; /* Adjust the duration and timing function as needed */
    background-color: var(--team-color);
    border-radius: 18px;
    transform: rotate(-2deg) scale(1.1);
    box-shadow: 0 0 var(--button-shadow-size) var(--team-color-darker); /* Adjust the color and size as needed */
    transition: 0.3s;
  }

  .btn-danger:active {
    background-color: var(--team-color-darker) !important; 
    border: var(--button-border-size) solid var(--team-color-lighter) !important;
    transition: 0.3s;
  }
  
  .sponsor-img {
    max-width: 80%; /* Ensure the image doesn't exceed its container's width */
    height: auto; /* Maintain the aspect ratio while scaling */

  }
  
  .fade-in-section {
    opacity: 0;
    transition: opacity 1.5s ease-in;
  }
  
  .fade-in-section.fade-in {
    opacity: 1;
  }

  .custom-carousel{
    margin: 3px;
    background-color: var(--team-color);
    border: 5px solid var(--team-color); /* Set your desired border properties */
    overflow: hidden;
    border-radius: 50px; /* Set your desired border-radius */
    /* Add any other styles you want */
  }

  .custom-carousel .img-fluid{
    border-radius: 50px;
    
  }
  
  .custom-carousel .carousel-inner .carousel-item img {
    border-radius: 50px; /* Apply the same border-radius as the parent */
    transition: border-radius 0s; /* Remove the transition effect */
  }

  .maestro-background {
    background-image: url('/public/maestroBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: ken-burns 15s infinite;
  }

  .popup {
    background-color: var(--team-color-darker);
    border-radius: 15px;
  }

  .custom-li {
    font-size: 1.3vw;
    color: var(--font-color);
    font-family: var(--team-font);
  }

  @keyframes ken-burns {
    0% {
     background-position: center center;
   }
    50% {
     background-position: center  20%;
   }
    100% {
     background-position: center center;
   }
 }

 @keyframes btn_danger {
    0% {
        box-shadow: 0 0 var(--button-shadow-size) var(--team-color-lighter);
        border: var(--button-border-size) solid var(--team-color-lighter);
    }
    25% {
        box-shadow: 0 0 var(--button-shadow-size) var(--team-color-darker);
        border: var(--button-border-size) solid var(--team-color-darker);
    }
    50% {
        box-shadow: 0 0 var(--button-shadow-size) var(--team-color-lighter);
        border: var(--button-border-size) solid var(--team-color-lighter);
    }
    75% {
        box-shadow: 0 0 var(--button-shadow-size) var(--team-color-darker);
        border: var(--button-border-size) solid var(--team-color-darker);
    }
    100% {
        box-shadow: 0 0 var(--button-shadow-size) var(--team-color-lighter);
        border: var(--button-border-size) solid var(--team-color-lighter);
    }
  }

  @keyframes btn_danger_click {
    0% {
        transform: rotate(-2deg) scale(1.1);
    }
    25% {
        transform: rotate(-5deg) scale(1);
    }
    50% {
        transform: rotate(-10deg) scale(1.1);
    }
    75% {
        transform: rotate(-5deg) scale(1);
    }
    100% {
        transform: rotate(-2deg) scale(1.1);
    }
  }

  @keyframes nav_link {
    0% {
        background-color: var(--team-color-darker);
    }
    25% {
        background-color: var(--team-color);
    }
    50% {
        background-color: var(--team-color-darker);
    }
    75% {
        background-color: var(--team-color);
    }
    100% {
        background-color:var(--team-color-darker);
    }
  }

  @keyframes scrollBackground {
    from {
      background-position: -50% 0;
    }
    to {
      background-position: 0 100%;
    }
  }
  
 /* Tablet */
 @media (max-width: 1024px){

    p{
      font-size: 2.125vw;
    }

    h1{
        font-size: 4.5vw;
    }

    h1z{
      font-size: 4.5vw;
    }

      
    h2{
        font-size: 6.5vw;
    }

    h3{
      font-size: 8vw; 
    }

    .hero-section{
      min-height: 55vw;
    }

  }
  
   /* Phone */
  @media (max-width: 480px){

    p{
      font-size: 5vw;
    }

    h1{
        font-size: 9vw;
    }
    

    h1{
      font-size: 9vw;
    }

    h2{
        font-size: 12vw;
    }

    h3{
        font-size: 15vw;
    }

    .hero-section{
        min-height: 160vw;
    }

    .custom-li {
      font-size: 6vw;
    }

  }

