
 

 
  body {


    background:  rgb(25, 25, 25);
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ), url("https://www.toptal.com/designers/subtlepatterns/uploads/tactile_noise.png");
      background-size: 80px;
  }

  h1 {
    color: rgb(255, 255, 255);
  }
  h2 {
    color: rgb(255, 255, 255);
  }
  h3 {
    color: rgb(255, 255, 255);
  }

  p {
    color: rgb(21, 255, 0);

  }

  z0{
    font-family: BuloExtraBlackItalic; 
    color: rgb(255, 255, 255);
    font-size: 55px;
    -webkit-text-stroke-width: 2px;  
    -webkit-text-stroke-color: rgb(0, 0, 0);
    text-align: center;

  }

  z1{
    font-family: BuloExtraBlackItalic; 
    -webkit-text-stroke-width: 0.8px;  
    -webkit-text-stroke-color: rgb(0, 0, 0);

  }

  z2{
    font-family: BuloExtraBlackItalic; 
    -webkit-text-stroke-width: 0.8px;  
    -webkit-text-stroke-color: rgb(0, 0, 0);
  }

  a{
    font-family: BuloExtraBlackItalic; 
    -webkit-text-stroke-width: 0.8px;  
    -webkit-text-stroke-color: rgb(0, 0, 0);

  }

  a1{
    font-family: BuloExtraBlackItalic; 
    -webkit-text-stroke-width: 0.1px;  
    -webkit-text-stroke-color: rgb(255, 255, 255);

  }

  .carouselImage {
    width:640px;
    height:360px;
  }


  .background-tint {
    background-color: rgba(255, 35, 35, 0.63);
    background-blend-mode: multiply;
  }

  .page1column{
    background-color: rgba(199, 23, 23, 0.63);
    background-blend-mode: multiply;
    width: 100px;
    height: 500px;
    background-image: url('dark-honeycomb.png'); 
    border-radius: 60px;
    margin-top: 45px;
    margin-left: 30px;
    margin-right: 30px;
  }




  @font-face {
    font-family: BuloExtraBlackItalic;
    src: url("bulo-extrablackitalic.otf") format("opentype");
}