
 

 
  body {


    background:  rgb(25, 25, 25);
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ), url("https://www.toptal.com/designers/subtlepatterns/uploads/tactile_noise.png");
      background-size: 80px;
  }

  h1 {
    color: rgb(255, 255, 255);
  }
  h2 {
    color: rgb(255, 255, 255);
  }
  h3 {
    color: rgb(255, 255, 255);
  }



  zz{
    font-family: BuloExtraBlackItalic; 
    -webkit-text-stroke-width: 1.25px;  
    -webkit-text-stroke-color: rgb(0, 0, 0);

  }

  z1{
    font-family: BuloExtraBlackItalic; 
    -webkit-text-stroke-width: 0.8px;  
    -webkit-text-stroke-color: rgb(0, 0, 0);

  }

  z2{
    font-family: BuloExtraBlackItalic; 
    -webkit-text-stroke-width: 0.8px;  
    -webkit-text-stroke-color: rgb(0, 0, 0);
  }


  a{
    font-family: BuloExtraBlackItalic; 
    -webkit-text-stroke-width: 0.8px;  
    -webkit-text-stroke-color: rgb(0, 0, 0);

  }

  a1{
    font-family: BuloExtraBlackItalic; 
    -webkit-text-stroke-width: 0.1px;  
    -webkit-text-stroke-color: rgb(255, 255, 255);

  }

  .carouselImage {
    width:640px;
    height:360px;
  }


  .background-tint {
    background-color: rgba(255, 35, 35, 0.63);
    background-blend-mode: multiply;
  }

  .pagecolumn{
    background-color: rgba(92, 9, 9, 0.918);
    background-blend-mode: multiply;
    background-image: url('dark-honeycomb.png'); 
    border-radius: 60px;
    min-height: 400px;
    min-width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  .pagecolumn:hover {
    background-color: rgba(92, 9, 9, 1);
    border-radius: 65px;
    box-shadow: 0 0 10px rgba(162, 0, 0,0.5);
  }



  z2w{
    font-family: BuloExtraBlackItalic; 
    color: white;
    -webkit-text-stroke-width: 0.1vw;  
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-size: 2.8vw;
  }

  b{
    font-family: BuloExtraBlackItalic; 
    color: white;
    -webkit-text-stroke-width: 0.2vw;  
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-size: 2.5vw;
    display: block; 

  }


  p{
    font-family: BuloExtraBlackItalic; 
    color: white;
    -webkit-text-stroke-width: 0.1vw;  
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-size: 1.5vw;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
  }



  .textcolumn{
    padding-top: 10px;
    display: block; 
    
  }

  .videowrapper {
    display: block;
    overflow: hidden;
    width: 30vw;
    height: 18vw;
    border-radius: 25px;
    transform: translateZ(0px);
    border: 3px solid;
    border-color: rgba(162, 0, 0,0.5);
    margin: 0 auto;
   
  }

  .videowrapper:hover {
    border-color: rgba(162, 0, 0,0.8);
    box-shadow: 0 0 10px rgba(162, 0, 0,0.5);
  }


  .textcolumnlarge{
    padding-top: 25px;
    padding-bottom: 25px;
    display: block; 
    /*-webkit-text-stroke-width: 4.5px;  */
  }




  .mainbutton{
    display: block;
    overflow: hidden;
    transform: translateZ(0px);
    margin: 0 auto;
    font-family: BuloExtraBlackItalic; 
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ), url("https://www.toptal.com/designers/subtlepatterns/uploads/tactile_noise.png");
    background-size: 80;
    border: 3px solid;
    border-color: rgba(162, 0, 0,0.5);
    -webkit-text-stroke-width: 0.05vw;
    -webkit-text-stroke-color: rgba(162, 0, 0,0.5);
    color: white;
    font-size:2.2vw;
    display: block; 
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 18rem;
    max-height: 6rem;
    min-width: 10rem;
    min-height: 4rem;
    
  }
  
  .mainbutton:hover{
    border-color: rgba(162, 0, 0,0.8);
    box-shadow: 0 0 10px rgba(162, 0, 0,0.5);
    color: white;
  }


  .dropdown-item{
    color: white;
    -webkit-text-stroke-width: 0.05vww;
    -webkit-text-stroke-color: rgba(0, 0, 0, 1);
  }

  .dropdown-item:hover{
    background-color: rgba(162, 0, 0,0.3);
    color: white;
  }


  z000{
    font-family: BuloExtraBlackItalic; 
    color: white;
    -webkit-text-stroke-width: 0.22vw;  
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-size:5vw;

  }

  @media screen and (max-width: 800px) {
    z000{
        font-size:13vw;
        -webkit-text-stroke-width: 0.6vw;  
    }
    z2w{
        font-size: 12vw;
        -webkit-text-stroke-width: 0.5vw;  
      }
      p{
        -webkit-text-stroke-width: 0.25vw;  ;
        font-size: 6vw;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
      }
      .videowrapper{
        width: 80vw;
        height: 80vw;
    
      }
      .mainbutton{
        margin-top: -10px;
        margin-bottom: 60px;
        max-width: 15rem;
        -webkit-text-stroke-width: 0.3vw;
        font-size:8vw;

      }
    
       
}

    .displayedchrg {
        display: block;
        margin-left:  auto;
        margin-right: auto;
        padding: 2px;
     
    }

    .displayedchrg:hover {

      -webkit-filter: drop-shadow(5px 5px 5px #222);
      filter: drop-shadow(5px 5px 5px rgba(241, 227, 29, 0.852));
  }

    .divtext {
        display: table;
        color: white;
        font-family: impact;
        font-size: 4.2vw;
        
      }


  @font-face {
    font-family: BuloExtraBlackItalic;
    src: url("bulo-extrablackitalic.otf") format("opentype");
}