
 

 
  body {


    background:  rgb(25, 25, 25);
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ), url("https://www.toptal.com/designers/subtlepatterns/uploads/tactile_noise.png");
      background-size: 80px;

/*
    background: url(/images/tile.gif);
    background-size: 100px;
    position: relative;
*/
  }


  h1 {
    color: rgb(255, 255, 255);
  }
  h2 {
    color: rgb(255, 255, 255);
  }
  h3 {
    color: rgb(255, 255, 255);
  }



  zz{
    font-family: BuloExtraBlackItalic; 
    -webkit-text-stroke-width: 1.25px;  
    -webkit-text-stroke-color: rgb(0, 0, 0);

  }

  z1{
    font-family: BuloExtraBlackItalic; 
    -webkit-text-stroke-width: 0.8px;  
    -webkit-text-stroke-color: rgb(0, 0, 0);

  }

  z2{
    font-family: BuloExtraBlackItalic; 
    -webkit-text-stroke-width: 0.8px;  
    -webkit-text-stroke-color: rgb(0, 0, 0);
  }


  a{
    font-family: BuloExtraBlackItalic; 
    -webkit-text-stroke-width: 1px;  
    -webkit-text-stroke-color: rgb(0, 0, 0);

  }

  a1{
    font-family: BuloExtraBlackItalic; 
    font-size: 1.2vw;
    color: rgb(0, 219, 106);
    -webkit-text-stroke-width: 0.08vw;  
    -webkit-text-stroke-color: rgb(0, 0, 0);

  }

  .carouselImage {
    width:640px;
    height:360px;
  }


  .background-tint {
    background-color: rgba(255, 35, 35, 0.63);
    background-blend-mode: multiply;
  }



  .slideshowimage{
    border-radius: 50px;
    
    transform: 0 0 ;
  }




  z2w{
    font-family: BuloExtraBlackItalic; 
    color: white;
    -webkit-text-stroke-width: 0.18vw;  
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-size: 2.8vw;
  }

  b{
    font-family: BuloExtraBlackItalic; 
    color: white;
    -webkit-text-stroke-width: 0.2vw;  
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-size: 2.5vw;
    display: block; 

  }


  p{
    font-family: BuloExtraBlackItalic; 
    color: white;
    -webkit-text-stroke-width: 0.13vw;  
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-size: 1.8vw;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
  }



  .textcolumn{
    padding-top: 10px;
    display: block; 
    
  }

  .videowrapper {
    display: block;
    overflow: hidden;
    width: 35vw;
    height: 20vw;
    border-radius: 25px;
    transform: translateZ(0px);
    border: 5px solid;
    border-color: rgba(162, 0, 0,0.5);
    margin: 0 auto;
    transition: 1s; 
  
  }

  .videowrapper:hover {
    border-color: rgba(162, 0, 0,0.8);
    box-shadow: 0 0 10px rgba(162, 0, 0,0.5);
    transition: 0.25s; 
  }


  .imagecenter{
    display: block;
    overflow: hidden;
    width: 35vw;
    height: 18vw;
    border-radius: 25px;
    transform: translateZ(0px);
    border: 3px solid;
    border-color: rgba(162, 0, 0,0.5);
    margin: 0 auto;
  }

  .footer {
    font-family: BuloExtraBlackItalic; 
    color: white;
    -webkit-text-stroke-width: 0.1vw;  
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-size: 1.7vw;
    position: relative;
    left: 0;
    bottom: auto;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 5px;

    background-color:  rgba(162, 0, 0,0.2);
    border-color: rgba(162, 0, 0,0.8);
    box-shadow: 0 0 35px rgba(162, 0, 0,0.5);
    height: 50px;
  }


  .textcolumnlarge{
    padding-top: 25px;
    padding-bottom: 25px;
    display: block; 
    
    /*-webkit-text-stroke-width: 4.5px;  */
  }




  .mainbutton{
    display: block;
    overflow: hidden;
    transform: translateZ(0px);
    margin: 0 auto;
    font-family: BuloExtraBlackItalic; 
    /*
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ), url("https://www.toptal.com/designers/subtlepatterns/uploads/tactile_noise.png");
    
    background-size: 80;
    */
    background-color: rgba(15,15,15,1);
    border: 5px solid;
    border-radius: 15px;
    border-color: rgba(162, 0, 0,0.5);
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: rgba(162, 0, 0,1);
    color: white;
    font-size:1.85vw;
    display: block; 
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 18rem;
    max-height: 6rem;
    min-width: 10rem;
    min-height: 4rem;
    
  }
  
  .mainbutton:hover{
    border-color: rgba(162, 0, 0,0.8);
    box-shadow: 0 0 10px rgba(162, 0, 0,0.5);
    color: white;
    transition:0.5s; 
  }


  .dropdown-item{
    color: white;
    -webkit-text-stroke-width: 0.05vww;
    -webkit-text-stroke-color: rgba(0, 0, 0, 1);
  }

  .dropdown-item:hover{
    background-color: rgba(162, 0, 0,0.3);
    color: white;
  }


  z000{
    font-family: "BuloExtraBlackItalic"; 
    color: white;
    -webkit-text-stroke-width: 0.28vw;  
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-size:5vw;

  }

  ty{
    font-family: GiantRobotArmy;
    font-size: 35px;
    color: white;
    -webkit-text-stroke-width: 0.15vw;  
    -webkit-text-stroke-color: rgb(106, 0, 0);
    font-size:7vw;
  }

  .homebg{
    background-position: 0% 38%; 
    background-size: 90vw; 
  }

  .homebg-text{
    opacity: 100%;
    transition:1s; 
  }

  .homebg-text:hover{
    opacity: 10%;
    transition:1s; 
  }


  .pagecolumn{
    background-color: rgba(110, 1, 1, 0.92);
    /*background-color: rgba(92, 9, 9, 0.92);*/
    background-blend-mode: multiply;
    border-radius: 60px;
    min-height: 450px;
    min-width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    transition:0.25s; 

    border: solid;
    border-width: 5px;
    border-color: rgba(162, 0, 0, 0.3);
}

  .bgcolumm{

    background-color: rgba(85, 1, 1, 0.92);
    /*background-color: rgba(92, 9, 9, 0.92);*/
    background-blend-mode: multiply;
    border-radius: 60px;
    min-height:800px;
    min-width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    transition:0.25s; 
    box-shadow: 0 0 10px rgba(162, 0, 0,0.5);

    border: solid;
    border-width: 5px;
    border-color: rgba(162, 0, 0, 0.3);
}

.pagecolumn-left{
  margin-left: -2vw;
}
.pagecolumn-right{
  margin-left: 2vw;
}

.pagecolumn:hover {
    background-color: rgba(92, 9, 9, 0.88);
    border-radius: 65px;
    box-shadow: 0 0 10px rgba(162, 0, 0,0.5);
    transition: 0.5s; 
}

.imglighter{
  background-color: rgba(100, 0, 0, 0.9);
}


.bgcolumm-blank{

  background-color: rgba(85, 1, 1, 0);
  /*background-color: rgba(92, 9, 9, 0.92);*/
  background-blend-mode: multiply;
  border-radius: 80px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  transition:0.25s; 

  border: solid;
  border-width: 5px;
  border-color: rgba(162, 0, 0, 0.3);
}




  @media screen and (max-width: 700px) {
    z000{
        font-size:13vw;
        -webkit-text-stroke-width: 0.6vw;  
    }
    z2w{
        font-size: 12vw;
        -webkit-text-stroke-width: 0.5vw;  
      }
      p{
        -webkit-text-stroke-width: 0.25vw;  ;
        font-size: 6vw;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
      }

      .videowrapper{
        width: 80vw;
        height: 80vw;
      }

      .imagecenter{
        width: 80vw;
        height: 60vw;
      }

      .mainbutton{
        margin-top: -10px;
        margin-bottom: 60px;
        max-width: 15rem;
        -webkit-text-stroke-width: 0.3vw;
        font-size:8vw;
      }


      a1{
          font-size: 5.2vw; 
        -webkit-text-stroke-width: 1.5px;  
      }
      
      ty{
        -webkit-text-stroke-width: 0.2vw;  
        font-size:11.5vw;
      }

      .homebg{
        background-position: 0% 38%; 
        background-size: 150vw; 
      }

      .pagecolumn-left{
        margin-left: auto;
      }
      .pagecolumn-right{
        margin-left: auto;
      }
      
  
}











    .displayedchrg {
        display: block;
        margin-left:  auto;
        margin-right: auto;
        padding: 2px;
     
    }

    .displayedengz {
      display: block;
      margin-left:  auto;
      margin-right: auto;
      padding: 2px;
   
  }

    .displayedchrg:hover {

      -webkit-filter: drop-shadow(5px 5px 5px #222);
      filter: drop-shadow(5px 5px 5px rgba(241, 227, 29, 0.85));
  }

  .displayedengz:hover {

    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px rgba(128, 241, 29, 0.85));
}

    .divtext {
        display: table;
        color: white;
        font-family: impact;
        font-size: 4.2vw;
        
    }

  @font-face {
    font-family: BuloExtraBlackItalic;
    src: url("bulo-extrablackitalic.otf") format("opentype");
  }
  
  @font-face {
    font-family: "GiantRobotArmy";
    src: url("GiantRobotArmy-Medium.ttf");

  }